<div class="container">
    <br />
    <br />
<h1 class="text-center">Launches</h1>
<table class="table table-striped table-bordered">
    <thead>
       <tr>
            <th scope="col" [appSort]="rockets" data-order="desc" data-name="id">Rocket Id</th>
            <th scope="col" [appSort]="rockets" data-order="desc" data-name="name">Rocket Name</th>
            <th scope="col" [appSort]="rockets" data-order="desc" data-name="weightInPounds">Rocket Weight in Pounds</th>
            <th>Launches</th>
       </tr>
    </thead>
    <tbody >
        <tr *ngFor="let rocket of rockets">
            <ng-container *ngIf="rocket.launches.length">
            <td>{{ rocket.id }}</td>
            <td>{{ rocket.name }}</td>
            <td>{{ rocket.weightInPounds }}</td>
            <td>
                <table class="table table-striped table-bordered">
                    <thead>
                        <th scope="col" [appSort]="rocket.launches" data-order="desc" data-name="id">Launch Id</th>
                        <th scope="col" [appSort]="rocket.launches" data-order="desc" data-name="date">Launch Date</th>
                        <th scope="col" [appSort]="rocket.launches" data-order="desc" data-name="success">Launch Success</th>
                        <th scope="col">Update</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let launch of rocket.launches">
                            <td>{{ launch.id }}</td>
                            <td>{{ launch.date }}</td>
                            <td>{{ launch.success }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="updateLaunch(launch.id)">Update</button></td>
                            <td>
                                <button class="btn btn-danger" (click)="handleDelete(launch.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            </ng-container>
        </tr>
    </tbody>
</table>
</div>